<div id="main">
	<form action="<%= leaderboard_url %>" method="get" data-remote="true" id="team-select">
		<select name="team" id="team_name">
			<option selected="selected" value="">Team Name</option>
			
			<% @teams.each do |team| %>
				<option value="<%= team.nickname %>"><%= team.nickname %></option>
			<% end %>
			
		</select>
	
		<input type="submit" value="Select">
	</form>
	  
	<div class="table">
		<h3>Select a Team</h3>
	</div> 
</div>